<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Workshop con Vuejs 2</title>
  <!-- Styles -->
  <!-- Boostrap 3.3.7 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <!-- Contenido -->
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h3>Workshop | CursoVueJs2 | <a href="/menu.html">Ir al Menú</a></h3>
      </div>
    </div>
  </div>
  <div id="appVue">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
        <h1 v-if="lists.length > 0">Agregar una tarea</h1>
        <h1 v-else="lists">Crear una tarea</h1>
          <input type="text" name="" id="" class="form-control" v-model="newKeep" v-on:keyup.enter="addKeep">
        </div>
        <div class="col-sm-6">
          <h1 v-if="lists.length > 0">Listado de tareas</h1>
          <h1 v-else="lists">No hay tareas registradas</h1>
          <ul class="list-group">
            <li class="list-group-item" 
                v-for="item in lists" v-bind:class="item.completed == true ? 'disabled' : ''" @click="item.completed = ! item.completed">
              {{ item.keep }}
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <hr>
          <pre>
              {{ $data }}
            </pre>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Contenido -->
  <!-- Scripts -->
  <!-- VueJs 2 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>
  <!-- Script personalizado para Vue -->
  <script src="script.js"></script>
</body>
</html>